html {
	font-size: 14px;
  }
  @media (min-width: 300px) {
	.form-inline{
		background: red;
	}
  }
  
  .container {
	max-width: 960px;
	margin-top:30px;
	margin-bottom:30px;
  }
  
  .pricing-header {
	max-width: 800px;
  }
  
  .card-deck .card {
	max-width: 240px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
.list {
	list-style-type:none;
	padding:0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.list--list-item {
	padding-bottom:20px;
	margin-bottom:20px;	
}

.no-result {
	display:none;
}

#main-div{
	display: flex;
	height: 210px;
	

}
#sub-div{
	display: block;
	
	width: 400px;
	height: 200px;
	padding: 10px;
}

.page{
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	font-size: 15px;
}
.active{
	font-size: 30px;
	color: brown;
	text-decoration: underline brown;
}

