html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
    display: flex;
  }

  #search-box{
      width: 300px;
  }
  html {
    font-size: 14px;
  }
  
  @media (min-width: 300px) {
    .form-inline {
      background: red;
    }
  }
  
  .container {
    max-width: 960px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .pricing-header {
    max-width: 800px;
  }
  
  .card-deck .card {
    max-width: 240px;
    display: flex;
    border: 2px solid green; 
    width: 600px;
    height: 200px;
  }
  
  
  .border-top {
    border-top: 1px solid #e5e5e5;
  }
  
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  .list {
    list-style-type: none;
    padding: 0;
    margin: auto;
    
    align-items: center;
    justify-content: center;
  }
  
  .list--list-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .no-result {
    display: none;
  }
#listItem{
  display: flex;
  margin: auto;
  justify-content: center;
  border: 2px solid black;
}  